<%= form_with(model: admin_notification, local: true) do |form| %>
  <% if admin_notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_notification.errors.count, "error") %> prohibited this admin_notification from being saved:</h2>

      <ul>
        <% admin_notification.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
