<%= form_with(model: message,
              url: messages_path,
              method: 'POST',
              local: true) do |form| %>
  <%#= form.hidden_field :room_id, value: room.id %>
  <div class="input-group">
    <%= form.hidden_field :project, value: project.id %>
    <%= form.text_field :content, placeholder: 'Type your message here...' %>
    <div class="input-group-append">
      <%= form.submit '送出訊息', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>