<div class="message">
  <div class="content-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= message.user.name %>
    </div>
    <div class="check-msg-user">
      <div id="msg-owner-id" value="<%= message.user_id %>"></div>
    </div>
  </div>
</div>