<div class="message mb-2">
  <div id="msg-user-id" value="<%= @current_user_id %>"></div>
  <div class="content-container">
    <div class="content">
      訊息內容：<%= message.content %>
    </div>
    <div class="author">
      傳訊息的人：<%= message.user.name %>
    </div>
  </div>
</div>