<%# 回覆的列表 %>

<ul class="reply-list">
   
    <li class="reply-txt">
      <div class="reply-head ">
        <p class="name"> <%= reply.user.name %></p> 
      </div>
      <div class="reply-ctn">
        <p><%= reply.content %></p>
      </div>

    </li>
  
</ul>