<div>
  <h1 class="text-xl flex justify-center">修改Order</h1>
  <div class="flex justify-center">
    <%= link_to 'Show', @admin_order %> |
    <%= link_to 'Back', admin_orders_path %>
  </div>

  <%= render 'form', admin_order: @admin_order %>
</div>

