.dialogboxes{
  *{
    box-sizing: border-box;
  }
  .container{
    height: 85vh;

    .wrapper{
      @apply h-full;
      @apply py-4;

      .grid-items{
        @apply h-full;
        @apply grid;
        @apply gap-4;
        @apply grid-cols-7;

        .dialogboxes-index{
          @apply col-span-2;
          @apply p-4;
          @apply bg-gray-200;
          @apply rounded-md;

          .dialogboxes-sent-by-me{
            // @apply bg-blue-200;
            // @apply border-2;
            // @apply rounded-md;
            // @apply border-gray-700;
            // @apply border-opacity-25;

            .dialogbox-link{
              @apply border-2;
              @apply border-red-300;
              @apply border-opacity-50;
              @apply rounded-xl;
            }
          }
        }

        .the-dialogbox{
          @apply col-span-5;
          @apply bg-gray-200;
          @apply rounded;
          display: flex;
          flex-direction: column;
          justify-content: space-between;


          .dialogbox-title{
            height: 15%;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            border-bottom: 1px solid rgba(2,2,2,0.5);
            display: flex;
            justify-content: flex-start;
            @apply p-4;

          }
          
          .dialogbox-content{
            height: 75%;
            @apply px-4;
            @apply overflow-auto;

            .messages-container{
              @apply border-blue-200;
              color: white;

            }
          }

          .message-form{
            height: 10%;
            // @apply bg-yellow-200;
            display: flex;
            justify-content: center;
            align-items: center;

            
          }
        }
      }
    }
  }
}
