.new-dialogbox-popup-block{

  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: auto;


  .popup-content{
    margin-top: 60px;
    width: 1000px;
    height: 600px;
    background: #fff;
    padding: 50px;
    border-radius: 20px;
    position: relative;

    .close-popup{
      position: absolute;
      top: 0;
      right: -70px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 1);
      cursor: pointer;
    }

    .project-owner-info{
      padding-bottom: 30px;
    }

    .add-message-to-dialogbox{
      padding-top: 30px;

      .message-guiding{
        font-weight: bold;

      }
    }
  }
}
