<nav class="bg-gray-100 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">

    <div class="flex justify-between">
        <div class="flex w-full">
            <li class="list-none text-xl text-gray inline-block py-2 px-4"><%= link_to 'Callback Admin', admin_root_path %></li>
            <li class="list-none text-xl text-gray inline-block py-2 px-4"><%= link_to '前台',root_path %></li>
        </div>
        <div>
        <p class="text-xl text-gray inline-block py-2 px-4"><%= current_user.name%></p>
        </div>
    </div>
 </nav>