<nav class="bg-gray-800 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">

    <div class="flex justify-between">
        <div class="flex w-full">
            <li class="list-none">
                <a class="inline-block py-2 px-4 text-white no-underline" href="#">Active</a>
            </li>
            <li class="list-none">
                <a class="text-white inline-block py-2 px-4" href="#">link</a>
            </li>
        </div>
        <div>
        <p class="text-white inline-block py-2 px-4"><%= current_user.name%></p>
        </div>
    </div>
 </nav>