<nav class="menu">
  <div class="md:container-lg md:mx-auto">
    <div class="flex justify-between">


      <div class="logo">
        
         <img src="" alt="">

      </div>
      <div class="">
        <a href="#" class="">關於</a>
        <a href="#" class="">提案</a>
        <a href="#" class="">探索</a> 
      </div>


      <!--FIX
         動態切換 -->
    
      <div class="login">


        <div class="dropDown">           
          <button class="user-pic">
          <img src="https://picsum.photos/40/40/?random=1" class="">
          </button>

          <div class="user-list">
            <div class="sign-in"></div>
            <div class="sign-up"></div>
          </div>
        </div>

        </div>
      </div>

    </div>
  </div>
</nav>
