
  <div class="giveback-card-item">
    
    <div class="giveback-card-price" >$</div> 
    <div class="giveback-card-pic">
     <img class="pre-imgs" src="#"/>
    </div> 
    
    <div class="item-content">
      <div class="g-title"></div>
      <div class="g-summary"></div>

   </div>
    
    <hr>
      <div class="item-txt my-4 ">
        <div class="sponsor-quantity flex flex-col">
        <p class="g-tag">贊助人數</p>
        <p class="g-tit"></p>
        </div>
        <div class="g-time flex flex-col ">
        <p class="g-tag">寄送時間</p>
        <p class="g-tit"></p>
        </div>
      </div>
      <div class="locat-deliver flex flex-col mb-4">
        <p class="g-tag">寄送地點</p>
        <p class="g-tit">只寄送台灣本島</p>
      </div>
    


  </div> 


