<%= form_with(model: message,
              url: project_create_message_path,
              method: 'POST') do |form| %>
  <div class="input-group">
    <%= form.hidden_field :project, value: project.id %>
    <%= form.text_area :content, placeholder: 'Type your message here...' %>
    <div class="input-group-append">
      <%= form.submit '送出訊息', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
