
    <h2>已追蹤專案</h2>
    <div class="my-favorite-row flxe">
      <% @my_fav_projects.each do |my_fav_project| %>
        <%= link_to project_path(my_fav_project), class:"fav-card-link" do %>
                  <div class="card-item">
            <div class="card-pic">
             <%= image_tag my_fav_project.image.url %>
            </div>
            <div class="item-content">
              <div class="item-category">
                <p><%= my_fav_project.category.title %></p>
              </div>
              <div class="item-txt">
                <h2 class="truncate"><%= my_fav_project.title %></h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>



