
  <div class="card-item">
    <div class="card-pic">
      <img class="pre-img" src="#"/>
     
    </div>
    <div class="item-content">
      <div class="item-category">
        <p class="card-category"></p>
      </div>
      <div class="item-txt">
          <h2 class="card-title"></h2>
          <p class="card-summary">xxx</p>
      </div>
      <div class="item-progress">
        <div class="createProgressBar"></div>
        <div class="pg-txt flex justify-between">
          <div class="price">00%</div>
          <div class="days">剩14天</div>
        </div>
      </div> 
    </div>
  </div> 
