
<section >
  <div class="tab-container">
    <div class="tab-bar">
      <button class="step active" id="step-btn1" >
        <p>專案大綱</p>
        <div class="bullet">
        </div>
      </button>
      <button class="step" id="step-btn2" >
        <p>專案內容</p>
        <div class="bullet">
        </div>
      </button>
      <button class="step" id="step-btn3" >
        <p>回饋商品</p>
        <div class="bullet"></div>
      </button>
    </div>
  </div>
  
  <% if @project.is_published? %>
    <%= render 'published_form', project: @project %>
  <% end %>

  <% if @project.is_hidden? %>
    <%= render 'hidden_form', project: @project %>
  <% end %>
  

</section>