.profiles.show{
  
  section.profile-show-nav{
    @apply w-full;
    @apply bg-gray-100;
    
    .profile-nav-container{
      max-width: 900px;
      margin-top: 70px;
      @apply mx-auto;
      @apply box-border;
      
      .profile-show-row{
        @apply flex;
        @apply justify-between;
        @apply mx-auto;
        @apply box-border;
        .profile-tab{       
           width: 130px;
           @apply box-border;
          .profile-nav-btn{
          @apply box-border;
          @apply text-gray-500;
          @apply py-6;
          @apply px-6;
          @apply border-b-2;
          @apply border-gray-100;
         
         }
         .profile-nav-btn:hover{
           @apply border-b-2;
           @apply border-gray-800;
         }
         .profile-nav-btn:focus{
           @apply outline-none; 
         }

        }
      }
    }




    
  }
  section.profile-content-pages{
    @apply w-full;
    .content-pages-container{
      max-width: 900px;
      @apply mx-auto;
      margin-top: 70px;
      .content-pages-row{

        #profile-info-pg1{
          @apply flex;
          @apply flex-col;
          @apply space-y-14;

          .user-info{
            @apply flex;
            @apply  space-x-8;
            @apply  border-b;
            @apply  border-gray-300;
            @apply  pb-14;
            .info-pic{
              @apply block;
              @apply h-40;
              @apply w-40;
              @apply rounded-full;
              @apply overflow-hidden;
              @apply border;
              @apply border-gray-200;
              
              img{      
                @apply h-full;
                @apply w-full;
                @apply object-cover;}
            }
            .info-content{
              @apply flex;
              @apply flex-col;
              @apply space-y-2;
              .user-name{
                display: inline-block;
                vertical-align: middle;
                line-height: 2;
                letter-spacing: 3px;
                font-size: 28px;
                font-weight: 700;
                @apply text-gray-600;
              }
              .user-mail{}
              .user-projects{}
            }

          }


        }
        

      }
    }
  }



}

