.card-item{

  max-width: 350px;
  @apply rounded;
  @apply cursor-pointer;
  @apply overflow-hidden;
  @apply shadow-md;
  @apply box-border;
  .card-pic{
    clear: both;
    overflow: hidden;
    height: 250px;
    background: #d7d7d7;
    @apply box-border;
    .card-img{@apply w-full;height: auto;}
  }


  .item-content{
    @apply px-6;
    @apply py-4;
  
    .item-category{
      
      @apply space-x-2;
      p{
        display: inline-block;
        font-size: 14px;
        @apply bg-gray-200; 
        @apply px-2;
        @apply py-1;
      }
    }
    .item-txt{

      h2{
        @apply font-bold;
        @apply text-gray-600;
        @apply text-lg;
        @apply mb-2;
      }
    }
  }
}