

.ranking{

  @apply w-full;
  @apply mt-20;


  .ranking-container{

    max-width: 1280px;
    margin: auto;
    padding: 5px 0px;
    @apply box-border;

    .ranking-row{

      @apply flex;
      @apply flex-col;

      .ranking-txt{

        @apply flex;
        @apply justify-between;
        @apply relative;
        @apply mb-4;
        @apply px-16;

        h2{
          display: inline-block;
          @apply text-2xl;
          color:#EF5959;
          @apply font-bold;
          
        }

        h2::before{

          display: inline-block;
          top: 5px;
          left: 0;
          content:" ";
          height: 20px;
          width: 8px;
          background: #EF5959;
          margin-right:10px; 
         
        }

        .more-btn{
          @apply inline-block;
          font-size: 16px;
          background-color: transparent;
          border-width: 1px;
          border-style: solid;
          border-color: initial;
          border-radius: 4px;
          cursor: pointer;
          padding: .75rem 1rem;
          line-height: 1em;
          opacity: .9;
          white-space: nowrap;
          transform: translateZ(0);
        }
      }
      .ranking-projects{

        @apply grid;
        @apply grid-cols-3;
        @apply gap-12;
        @apply place-items-stretch ;
        @apply mx-auto ;
       


      }


    }
  }
}



