.dropdown-menu{

  @apply bg-gray-100;
  @apply w-48;
  @apply rounded-lg;
  @apply mt-1;
  @apply shadow-lg;
  @apply divide-solid;
  @apply divide-gray-300;
  @apply divide-y;

  
  
  width: 200px;
  position:absolute;
  top:110;
  right: 90px;
  list-style: none;
  text-align: start;

  li{
    background: white;
    cursor: pointer;
  }

  li:hover{color:#EF5959;}
  
}

.dropdown-menu.clicked{
  display: none;
}

.dropdown-link{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  @apply text-gray-500;
  padding:16px;
}
.dropdown-link a{
  
  @apply inline-block;
  @apply w-full;
  @apply h-full;
}

@media screen and (max-width: 960px) {

  .dropdown-menu{

    display: none;
  
}


  }
