.msg-menu{

  @apply bg-gray-100;
  width: 85px;
  @apply rounded-lg;
  @apply mt-1;
  @apply shadow-lg;
  @apply divide-solid;
  @apply divide-gray-300;
  @apply divide-y;
  width: 200px;
  position:absolute;
  top:50px;
  right: 98px;
  list-style: none;
  text-align: start;
  li{
    background: white;
    cursor: pointer;
  }
  li:hover{color:#EF5959;}
}

.msg-menu.clicked{
  display: none;
}

.msg-link{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  @apply text-gray-500;
  padding:16px;
}
.msg-link a{
  
  @apply inline-block;
  @apply w-full;
  @apply h-full;
}


