@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@1&display=swap');

nav{
  @apply fixed;
  @apply w-full;
  @apply border-b;
  @apply border-gray-200;
  @apply shadow-md;
  background-color: white;
  top: 0; 
  z-index: 2000;
  .navbar-container {
      max-width: 1280px;
      margin: auto;
      padding: 5px 0px;
      @apply box-border;
      .row{  
        @apply flex;
        @apply justify-between;
        .nav-left{
           @apply flex;
           @apply space-x-9;
          //  justify-content: center;
          .navbar-logo {

            @apply flex;
            color:#EF5959;
            justify-content: center;
            justify-items: center;
            font-weight: 400;
            cursor: pointer;
            text-decoration: none;
            font-size: 37px;
            
            .logo-txt{ @apply inline-block; font-family: 'Changa One', cursive; }
            .logo-pic {

              width:50px;
              text-align: center;
              padding-top: 5px ;
              img{ width: 100%;vertical-align:middle;}
            }
          }
          .nav-menu {
            flex-shrink: 1;
            font-size: 18px;
            display: flex;
            list-style: none;
            text-align: center;
            justify-content: start;

            .nav-links {
              @apply cursor-pointer;
              display: flex;
              align-items: center;
              color:#696969;
              text-decoration: none;
              padding: 10px 20px;
              @apply space-x-8;
            }
            .nav-links:hover {
              @apply border-b-2;
              @apply box-border;
              color:#EF5959;
              border-color: #EF5959;
            }
            
          }
        }
        .nav-right{
          @apply flex;
        }
      }
  }

}

.fa-bars { color: #696969;}
.nav-links-mobile {display: none;}
.menu-icon {display: none;}
