<p><%= @resource.name %>您好!</p>

<p>您可經由以下連結重置您的密碼：</p>

<p><%= link_to '重置密碼', edit_password_path(@resource, reset_password_token: @token) %></p>

<p>如果您沒有要求重置密碼，請忽略此信件。</p>
<p>除非您點擊連結並修改密碼，否則您的密碼將不會被重置。</p>
