<div>
  <h1 class="text-xl flex justify-center">新增user</h1>
  <div class="flex justify-center">
    <%= link_to 'Show', @admin_user %> |
    <%= link_to 'Back', admin_users_path %>
  </div>

  <%= render 'form', admin_user: @admin_user %>
</div>

