.projects.edit,.projects.update{
  @apply bg-gray-100;
  section{
    @apply w-full ;
    margin-top: 130px;
    .proposal-container{
        max-width: 780px;
        margin: 30px auto ;
        
        .proposal-pages{
          
          width: 100%;
          @apply overflow-hidden;

          form{
            @apply flex;
            width: 300%;
            
            .page{
              width: 33.34%;

              p.description{
                @apply text-gray-800;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.54;
                letter-spacing: 1.2px;
                text-align: center;
                margin:20px 0 ;
                @apply px-4;
                .row{
                  @apply flex; 
                  @apply flex-col;
                }
              }
          }
          }
        }  
    }
  }  
}

.proposal_txt{
  @apply flex;
  @apply space-x-10;
  .proposal-txt-content{
    width: 50%;
  }
  .proposal-preview{
    width: 50%;
    h4{
      margin-top: 1rem;        
      font-size: 16px;
      @apply text-gray-700;
      font-weight: 500;
    }
    h4::before{
      display: inline-block;
      top: 5px;
      left: 0;
      content:" ";
      height: 13px;
      width: 8px;
      background: #EF5959;
      margin-right:18px; 
    }
  }

}

.proposal-item{
  margin: 20px 0;
 
  @apply bg-gray-100;
  label{        
    font-size: 16px;
    @apply text-gray-700;
    font-weight: 500;
  }
  label::before{
    display: inline-block;
    top: 5px;
    left: 0;
    content:" ";
    height: 13px;
    width: 8px;
    background: #EF5959;
    margin-right:18px; 
  }
  .input-item{
    margin: 12px 0;
   
    @apply border-gray-300;
    @apply border;
    @apply text-gray-700;
    @apply bg-white;
    @apply px-4; 
    @apply rounded; 
    @apply block ;
   
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    textarea{
        @apply w-full;
        resize: none;
        @apply py-4;
        @apply px-2;  
        letter-spacing: 1.2px;
        text-align: left;
        color: #000;
        @apply leading-tight ;  
    }
    textarea:focus{
      @apply outline-none
    }

    input{
      @apply w-full;
      @apply leading-tight ;  
      margin: 10px 0;
      @apply px-2;  
      font-size: 14px;
      letter-spacing: 1.2px;
      text-align: left;
      color: #000;
    }
    input:focus{
      @apply outline-none
    }


    select{
      @apply w-full;
      @apply leading-tight ;  
      @apply py-2;
      @apply px-2;  
    }

    select:focus{
      @apply outline-none;
      @apply border-gray-300;
      
    }
   
  }
  p{
    font-size: 13px;
    line-height: 1.67;
    letter-spacing: 1.1px;
    text-align: justify;
    color: #4a4a4a;
    margin-top: 10px;
    }
}
.img-btn{
  
  margin: 12px 0;
  height: 40px;
  padding: 6px 12px;
  @apply text-center;
  letter-spacing: 6px;
  font-weight: 600;
  @apply border-gray-400;
  @apply border;
  @apply rounded;
  @apply overflow-hidden; 
  @apply relative;
  font-size: 15px;
  @apply text-gray-500;

  input#project_image{
  opacity: 0;
  font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;  
  }
}

.img-btn:hover{
  @apply border-gray-600;
  @apply bg-gray-200;
  @apply bg-opacity-90;
  @apply text-gray-800;
  @apply border;
  @apply transition;
  @apply duration-500;
}

.proposal-btn{
  font-weight: 600;
  @apply text-white;
  width: 160px;
  background:#f8414a;
  height: 38px;
  padding: 6px 12px;
  font-size: 15px;
  letter-spacing: 3px;
  text-align: center;
  border: 1px solid transparent;

}
.proposal-btn:hover{

  background:#ff1515;
  @apply transition;
  @apply duration-500;

}

#page1{
  transform: translateX(0px);
}

